body {
    background-color: #e9ebee;
}

div#footer {
    color: grey;
    padding-top: 50px;
    margin-right: 0px;
    text-align: center;
    background-color: #cce6d1;
    padding-bottom: 50px;
    border-top: 1px solid grey; 
}

.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
  }
  
.lead span {
    color: orange;
    font-weight: bold;
}
  
.bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
    background-image: url('../img/img-bg-01.jpg');
}
  
.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.overwordcloud {
    font-weight: bold;
    font-size: 100px;
    stroke: rgb(7, 7, 7);
    stroke-width: 2px;
}

#button {
    text-align: center;
}

.province {
    fill: #000;
    stroke: #fff;
    stroke-width: 2px;
}

.province:hover {
    fill: #666;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

#tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute; 
}

.line {
    stroke: #ccc;
    stroke-width: 5;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#legendContainer {
    position: absolute;
    top: 60px;
    left: 10px;
    overflow: auto;
    height: 490px;
    width: 110px;
}

#legend {
    width: 90px;
    height: 200px;
}

.legend {
    font-size: 12px;
    font-weight: normal;
    text-anchor: left;
}

.legendcheckbox {
    cursor: pointer;
}

input {
    border-radius: 5px;
    padding: 5px 10px;
    background: #999;
    border: 0;
    color: #fff;
}